<section class="grid grid-cols-2 gap-3 md:grid-cols-3">
  @for (item of events; track item) {
  <div
    [routerLink]="['/event', item.id]"
    class="p-2 border-2 border-gray-200 rounded-md shadow-sm cursor-pointer group"
  >
    <div class="sm:h-[60%] overflow-hidden">
      <img [src]="item.image" alt="Image of event {{ item.name }}" />
    </div>
    <h1 class="sm:text-lg group-hover:text-blue-700">{{ item.name }}</h1>
    <p class="text-sm text-gray-600">
      {{ item.description.substring(0, 60) }} ...
    </p>
  </div>
  }
</section>
